<!--Container Grid-->
<div class="flex justify-center overflow-x-hidden">
  <div class="grid grid-cols-12 w-full max-w-screen-xl px-4 mx-auto">
    <!--Card Profile-->
    <div class="col-span-9">
      <div
        class="card border border-violet-600 back-gray w-auto shadow-sm flex justify-end items-end m-2 mt-24"
      >
        <div class="m-4 flex flex-row justify-between">
          <p class="text-2xl basis-2/3">
            Hi! I'm Leonardo Colonna a
            <strong class="text-3xl text-blue-600">fullstack developer</strong>
            with a passion for creating dynamic and responsive web applications.
          </p>
          <figure class="mr-4 basis-1/3">
            <img class="w-64 h-64" src="assets/avatar.png" alt="ProfileImage" />
          </figure>
        </div>

        <div class="card-actions p-4">
          <button class="btn bg-green-600">Contact me</button>
        </div>
      </div>
    </div>

    <!--Card Info-->
    <div class="col-span-3">
      <div
        class="card border border-violet-600 back-gray w-auto shadow-sm m-2 mt-24"
      >
        <div class="card-body">
          <h2 class="card-title">About me</h2>
          <div class="">
            As a fullstack developer these are my skills and tools.
            <ul class="list-disc pl-2">
              <li class="p-2">
                <div class="flex items-center gap-2">
                  Typescript
                  <img
                    class="w-6 h-6"
                    src="assets/typescript.png"
                    alt="Typescript"
                  />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  Javascript
                  <img class="w-6 h-6" src="assets/js.png" alt="Javascript" />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  Angular
                  <img
                    class="w-6 h-6"
                    src="assets/programing.png"
                    alt="Angular"
                  />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  React
                  <img class="w-6 h-6" src="assets/physics.png" alt="React" />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  Java
                  <img class="w-6 h-6" src="assets/java.png" alt="Java" />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  SpringBoot
                  <img
                    class="w-6 h-6"
                    src="assets/icons8-spring-boot-48.png"
                    alt="SpringBoot"
                  />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  PostgreSQL
                  <img
                    class="w-6 h-6"
                    src="assets/postgre.png"
                    alt="PostgreSQL"
                  />
                </div>
              </li>
              <li class="p-2">
                <div class="flex items-center gap-2">
                  MongoDB
                  <img class="w-6 h-6" src="assets/MongoDB.png" alt="MongoDB" />
                </div>
              </li>
            </ul>
            I'm passionate about 3D modelling, animation and photography.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
